@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Logo
	3.3 Main Nav
	3.4 Menu
4. Home
	4.1 Home Slider
	4.2 Home Slider Nav
	4.3 Home Slider Dots
5. Search
6. Blog
7. Sidebar
8. Footer
	8.1 Footer - About
	8.2 Footer - Blog
	8.3 Footer - Tags
	8.4 Footer - Contact Info
9. Copyright

/*********************************

/*********************************
6. Blog
*********************************/

.blog
{
	padding-top: 108px;
	padding-bottom: 108px;
}
.blog_post_container
{
	width: 100%;
}
.blog_post:not(:last-child)
{
	margin-bottom: 74px;
}
.blog_post_image
{

}
.blog_post_image img
{
	width: 100%;
}
.blog_post_date
{
	position: absolute;
	top: 30px;
	left: 27px;
	width: 114px;
	height: 74px;
	border-radius: 37px;
	background: #fa9e1b;
}
.blog_post_day
{
	font-size: 30px;
	font-weight: 700;
	color: #FFFFFF;
	line-height: 1;
}
.blog_post_month
{
	font-size: 12px;
	color: #FFFFFF;
	margin-top: 3px;
}
.blog_post_meta
{
	margin-top: 32px;
}
.blog_post_meta_item
{
	display: inline-block;
	position: relative;
	margin-right: 27px;
}
.blog_post_meta_item:last-child
{
	margin-right: 0px;
}
.blog_post_meta_item::after
{
	display: block;
	position: absolute;
	top: 7px;
	right:-15px;
	width: 1px;
	height: 12px;
	background: #929191;
	content:'';
}
.blog_post_meta_item:last-child::after
{
	display: none;
}
.blog_post_meta_item a
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_meta_item a:hover
{
	color: #2b2b2b;
}
.blog_post_title
{
	margin-top: 5px;
}
.blog_post_title a
{
	font-size: 24px;
	font-weight: 600;
	color: #2b2b2b;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_title a:hover
{
	color: #fa9e1b;
}
.blog_post_text {
    margin-top: 19px;
    overflow-x: auto;
}
.blog_post_text p
{
	color: #929191;
	line-height: 2.14;
}
.blog_post_text p:last-of-type
{
	margin-bottom: 0px;
}
.blog_post_link
{
	margin-top: 32px;
}
.blog_post_link a
{
	font-size: 14px;
	font-weight: 700;
	color: #fa9e1b;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_post_link a:hover
{
	color: #361f5d;
}
.blog_navigation
{
	margin-top: 100px;
}
.blog_dot
{
	display: inline-block;
	position: relative;
	height: 35px;
	line-height: 35px;
	color: #2b2b2b;
	cursor: pointer;
	font-size: 13px;
	font-weight: 600;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_dot:hover
{
	color: #fa9e1c;
}
.blog_dot:hover.active div
{
	border-color: #fa9e1c;
}
.blog_dot.active
{
	padding-left: 13px;
	padding-right: 9px;
	margin-right: 3px;
	color: #fa9e1c;
}
.blog_dot div
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border: solid 2px transparent;
	border-radius: 18px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.blog_dot.active div
{
	border: solid 2px #fa9e1c;
}

/*********************************
7. Sidebar
*********************************/

.sidebar_search
{
	width: 100%;
}
.sidebar_search_input
{
	width: 100%;
	height: 44px;
	border: none;
	border-bottom: solid 2px #e6e7f4;
	outline: none;
}
.sidebar_search_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 17px;
	height: 44px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
.sidebar_search_button .mag_glass
{
	fill: #fa9e1b;
}
.sidebar_search_button:hover .mag_glass
{
	fill: #371d5a;
}
.sidebar_archives
{
	margin-top: 94px;
}
.sidebar_title
{
	font-size: 18px;
	font-weight: 600;
	color: #404551;
}
.sidebar_list
{
	margin-top: 40px;
}
.sidebar_list li:not(:last-child)
{
	margin-bottom: 19px;
}
.sidebar_list li a
{
	font-size: 14px;
	font-weight: 600;
	color: #929191;
}
.sidebar_list li a:hover
{
	color: #404551;
}
.sidebar_categories
{
	margin-top: 89px;
}
.sidebar_latest_posts
{
	margin-top: 89px;
}
.latest_posts_container
{
	margin-top: 35px;
}
.latest_post:not(:last-child)
{
	margin-bottom: 23px;
}
.latest_post_image
{
	float: left;
	z-index: 2;
}
.latest_post_content
{
	padding-left: 98px;
}
.latest_post_title a
{
	font-size: 15px;
	font-weight: 600;
	color: #2b2b2b;
}
.latest_post_title a:hover
{
	color: #fa9e1b;
}
.latest_post_meta
{
	margin-top: 3px;
}
.latest_post_author
{
	display: inline-block;
	margin-right: 8px;
}
.latest_post_author a
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
}
.latest_post_author a:hover
{
	color: #2b2b2b;
}
.latest_post_author::after
{
	display: block;
	position: absolute;
	top: 1px;
	right: -8px;
	content: '/';
}
.latest_post_date
{
	display: inline-block;
}
.latest_post_date a
{
	font-size: 12px;
	font-weight: 600;
	color: #929191;
}
.latest_post_date a:hover
{
	color: #2b2b2b;
}
.sidebar_gallery
{
	margin-top: 94px;
}
.gallery_container
{
	margin-top: 42px;
}
.gallery_item
{
	width: calc((100% - 18px) / 3);
	margin-bottom: 9px;
}
.gallery_item img
{
	width: 100%;
}


/*********************************
6. Book tour
*********************************/

.banner-right .nav-tabs {
    border-bottom: none;
}

.banner-right .nav-item {
    background: rgba(255, 255, 255, 0.25);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    margin-right: 1px;
}

    .banner-right .nav-item a {
        color: #fff;
    }

    .banner-right .nav-item:hover a {
        border-color: transparent !important;
    }

.banner-right .nav-tabs .nav-link {
    border-radius: 0 !important;
}

.banner-right .tab-content {
    background: #fff;
}

.banner-right .form-wrap {
    /*padding: 40px 30px;*/
    text-align: center;
}

    .banner-right .form-wrap .form-control {
        padding: 0.675rem 0.75rem;
        font-size: 13px;
        font-weight: 300;
        border-radius: 0px;
        margin-bottom: 10px;
        border-color: #eee;
    }

        .banner-right .form-wrap .form-control:focus {
            box-shadow: none;
        }

        .banner-right .form-wrap .form-control option {
            font-size: 13px;
            font-weight: 300;
        }
        
        @media (max-width: 1024px) {
            .banner-right {
        margin-top: 40px;
    }
}

@media (max-width: 767px) {
    .banner-right {
        padding-bottom: 50px;
    }
}



/* 09. person */
.person {
            width: 100%;
        }

            .person .person-image {
                width: 125px;
                margin-right: 25px;
                float: left;
            }

                .person .person-image img {
                    max-width: 100%;
                    height: auto;
                    border-radius: 50%;
                }

            .person .person-content {
                text-align: left;
                width: calc(100% - 150px);
                float: right;
            }

                .person .person-content h6 {
                    width: 100%;
                    margin: 12px 0 5px 0;
                    color: #5e5e5e;
                }

                .person .person-content p {
                    width: 100%;
                    margin: 0 0 10px 0;
                    color: #8c9597;
                    line-height: 20px;
                }

                    .person .person-content p.person-position {
                        margin: 0 0 20px 0;
                        line-height: 26px;
                    }

                .person .person-content .person-content-social {
                    width: 100%;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                }

                    .person .person-content .person-content-social li {
                        margin-left: 10px;
                        float: left;
                    }

                        .person .person-content .person-content-social li:first-child {
                            margin-left: 0;
                        }

                        .person .person-content .person-content-social li a {
                            width: 25px;
                            height: 25px;
                            line-height: 25px;
                            display: inline-block;
                            border-radius: 50%;
                            font-size: 13px;
                            color: #fff;
                            text-align: center;
                            -webkit-transition: all 0.3s;
                            -moz-transition: all 0.3s;
                            -o-transition: all 0.3s;
                            transition: all 0.3s;
                            border: 1px solid;
                        }

                            .person .person-content .person-content-social li a:hover {
                                opacity: 0.9;
                            }

/*Custom*/
.form-control {
    color: #495057;
}

banner-right .form-wrap .form-control option {
    color: #eee;
} 

select.form-control:not([size]):not([multiple]) {
    height: auto;
}

.form-control-noborder{
    border-width: 0px;
}